/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

textarea {
  resize: vertical;
}



table.dataTable span.highlight {
  background-color: #FFFF88;
  border-radius: 0.28571429rem;
}

table.dataTable span.column_highlight {
  background-color: #ffcc99;
  border-radius: 0.28571429rem;
}

[data-bs-theme=dark] table.dataTable span.highlight {
  background-color: #224563;
  border-radius: 3px;
}

[data-bs-theme=dark] table.dataTable span.column_highlight {
  background-color: #4d4225;
  border-radius: 3px;
}

.game-checks {
  margin-top: 10px;
  column-gap: 7px;
  row-gap: 7px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#main-input {
  max-width: 584px;
}

body.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body.flex-center .main-table-wrap {
  display:none;
}

body.flex-center .search-wrap {
  max-width: 900px;
}

body {
  padding: 10px 0;
}

.badge-tag {
  padding: 0;
  font-weight: 400;
  color: #d5d5d5;
  font-size: 10px;
  margin-top: 5px;
  line-height: 1.2;
}

.table>:not(caption)>*>* {
  color: #f7f7f7;
}